<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<!-- Uygulama Ayarları -->
	<appSettings>
		<add key="AppDataPath" value="Cari Kayıt Programı" />
		<add key="IsletmePath" value="İşletmeler" />
		<add key="DatabaseFileName" value="CariKayitDB.db" />
		<add key="LogFilePath" value="log.txt" />
		<add key="ExecutableFileName" value="cari_kayit_programi_setup.exe" />
	</appSettings>
</configuration>
